include mixins
doctype html
html
  head
    title= '日志文件服务器'
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    link( rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css' )
    link( rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
   // +bootswatch("flatly")
  body
    block content
    script( src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js' )
    script( src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js' )
